<div *ngFor="let window of windows" (mousedown)="toFront(window.label)">
  <app-desktop-window label="{{ window.label }}" [zIndex]="window.zIndex">
    <div [ngSwitch]="window?.code">
      <app-identity-content *ngSwitchCase="'account_box'"></app-identity-content>
      <app-experiences-content *ngSwitchCase="'work'" [experiences]="experiences"></app-experiences-content>
      <app-experiences-content *ngSwitchCase="'school'" [experiences]="studies"></app-experiences-content>
      <app-skills-content *ngSwitchCase="'code'"></app-skills-content>
      <app-projects-content *ngSwitchCase="'folder'"></app-projects-content>
      <app-info-content *ngSwitchCase="'info'"></app-info-content>
    </div>
  </app-desktop-window>
</div>
