<div *ngFor="let window of windows">
  <app-desktop-window label="{{ window.label }}">
    <div [ngSwitch]="window?.code">
      <app-identity-content *ngSwitchCase="'account_box'"></app-identity-content>
      <app-experiences-content *ngSwitchCase="'work'" [experiences]="experiences"></app-experiences-content>
      <app-experiences-content *ngSwitchCase="'school'" [experiences]="studies"></app-experiences-content>
      <app-skills-content *ngSwitchCase="'code'"></app-skills-content>
      <app-projects-content *ngSwitchCase="'folder'"></app-projects-content>
    </div>
  </app-desktop-window>
</div>
