  <table>
    <tr>
      <td class="mainPart">
        <table id="identityInformations">
          <tr>
            <td>
              <span class="identityLabel">Nom :</span>
              <app-hacker-text text="Boussin"></app-hacker-text>
            </td>
            <td>
              <span class="identityLabel">Prénom :</span>
              <app-hacker-text text="Maxime"></app-hacker-text>
            </td>
          </tr><tr>
            <td>
              <span class="identityLabel">Age :</span>
              <app-hacker-text text="23"></app-hacker-text>
            </td>
            <td>
              <span class="identityLabel">Téléphone :</span>
              <app-hacker-text text="0771136836"></app-hacker-text>
            </td>
          </tr><tr>
            <td>
              <span class="identityLabel">Ville :</span>
              <app-hacker-text text="Rennes"></app-hacker-text>
            </td>
            <td>
              <span class="identityLabel">Mobilité :</span>
              <app-hacker-text text="Permis B"></app-hacker-text>
            </td>
          </tr><tr>
            <td colspan="2">
              <span class="identityLabel">Email :</span>
              <app-hacker-text text="maxime.boussin35@gmail.com"></app-hacker-text>
            </td>
          </tr>
        </table>
      </td>
      <td class="mainPart">
        <app-identity-picture></app-identity-picture>
      </td>
    </tr>
  </table>
