.console {
  display: flex;
  min-height: 200px;
  margin: 15px;
  border-radius: 5px;
  background-color: #1b1b1b;
  font-family: 'VT323', monospace;
  text-align: left;
  color: #bbbbbb;
  padding: 5px;
  flex-direction: column;
  font-size: 20px;
}
.end-line {
  margin-top: auto;
}
