span {
  font-family: 'Goldman', monospace;
  font-weight: normal;
  font-size: large;
  line-height: 40%;
  color: var(--primary-dark);
  text-shadow: 0 0 15px var(--primary-dark);
}
.glow {
  color: var(--primary-light);
  text-shadow: 0 0 10px var(--primary-light);
}
