span {
  font-family: 'Goldman', monospace;
  font-weight: normal;
  font-size: large;
  line-height: 40%;
  color: #005e00;
  text-shadow: 0 0 15px #005e00;
}
.glow {
  color: #26ac26;
  text-shadow: 0 0 10px #26ac26;
}
