<nav class="navbar fixed-bottom navbar-dark">
  <button class="navbar-toggler mr-auto" type="button" aria-label="Menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-text">
    <mat-icon aria-hidden="false">volume_up</mat-icon>
  </span>
  <span class="navbar-text">
    <mat-icon aria-hidden="false">wifi</mat-icon>
  </span>
  <button class="navbar-toggler nav-date" type="button" aria-label="Date">
    <span>{{ timeToday }}</span><br>
    <span>{{ dateToday }}</span>
  </button>
</nav>
