<body>
  <div class="col-md-6 col-sm pt-2">
    <app-desktop-icon iconCode="account_box" iconLabel="IDENTITÉ"></app-desktop-icon>
    <app-desktop-icon iconCode="work" iconLabel="EXPÉRIENCES"></app-desktop-icon>
    <app-desktop-icon iconCode="school" iconLabel="DIPLÔMES"></app-desktop-icon>
    <app-desktop-icon iconCode="code" iconLabel="COMPÉTENCES"></app-desktop-icon>
    <app-desktop-icon iconCode="folder" iconLabel="PROJETS"></app-desktop-icon>
    <app-desktop-icon iconCode="info" iconLabel="À PROPOS"></app-desktop-icon>
  </div>
  <app-windows-manager></app-windows-manager>
  <app-bottom-bar></app-bottom-bar>
  <app-loadingscreen></app-loadingscreen>
</body>
