body {
  font-family: sans-serif;
  background-color: #303030;
  background-image: url("../assets/holo-earth2.png");
  background-repeat: no-repeat;
  background-size: min(626px, 90%);
  background-attachment: fixed;
  background-position: center;
  width:100vw;
  height: calc(100vh - 63px);
  margin: 0;
  padding: 0;
}
