body {
  font-family: sans-serif;
  background-color: #303030;
  background-image: url("../assets/dgse2.png");
  background-repeat: no-repeat;
  background-size: min(350px, 80%);
  background-attachment: fixed;
  background-position: center;
  width:100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
